<h1>Announcement#edit</h1>
<p>Find me in app/views/announcement/edit.html.erb</p>
<%= form_tag announcement_path do %>
  <label>Title:</label><br>
  <%= text_field_tag :title %><br>

  <label>Date:</label><br>
  <%= text_field_tag :date %><br>

  <label>Social:</label><br>
  <%= select_tag "target_resource", raw("<option>tg</option><option>fb</option><option>vk</option><option>twitter</option>") %><br>

  <%= submit_tag "Submit Article" %>
<% end %>