<h1>Edit announcement</h1>
<%= form_for :announcement, url: "/episodes/#{@announcement.episode_id}/announcements/#{@announcement.id}", method: 'patch' do |form| %>
  <%= form.text_field :title, placeholder: "title" %>
  <%= form.datetime_field :date, placeholder: "date" %>
  <%= form.text_field :target_resource, placeholder: "target_resource" %>
  
  <%= form.submit %>
<% end %>